# [ESPM-163ac]: Lab1 - Introduction to Jupyter

*Estimated Time: ~45 minutes*

Welcome to your first lab! We will take you step-by-step through some data analysis tools you'll need to analyze the CalEnviroScreen data we discussed in lecture this week. You will learn some coding skills, how to import and manipulate a table, and how to plot some cool graphs to turn numbers into visualizations. Don't worry about memorizing everything contained in this notebook -- we provide a "cheat sheet" you can refer to toward the end! These are skills we will build on next lecture and lab to analyze relationships between race, environmental factors and health outcomes -- have this big picture in mind as you go through the lab today. Have fun!

## The Jupyter Notebook

First of all, note that this page is divided into what are called *cells*. You can navigate cells by clicking on them or by using the up and down arrows. Cells will be highlighted as you navigate them.

### Text cells

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to learn Markdown, but know the difference between Text Cells and Code Cells.

### Code cells
Other cells contain code in the Python 3 language. Don't worry -- we'll show you everything you need to know to succeed in this part of the class. 

The fundamental building block of Python code is an **expression**. Cells can contain multiple lines with multiple expressions.  We'll explain what exactly we mean by "expressions" in just a moment: first, let's learn how to "run" cells.

### Running cells

"Running a cell" is equivalent to pressing "Enter" on a calculator once you've typed in the expression you want to evaluate: it produces an **output**. When you run a text cell, it outputs clean, organized writing. When you run a code cell, it **computes** all of the expressions you want to evaluate, and can **output** the result of the computation.

<p></p>

<div class="alert alert-info">
To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle.  Next, you can either the press <code><b>â–¶|</b> Run </code> button above or press <b><code>Shift + Return</code></b> or <b><code>Shift + Enter</code></b>. This will run the current cell and select the next one.
</div>

Text cells are useful for taking notes and keeping your notebook organized, but your data analysis will be done in code cells. We will focus on code cells for the rest of the class.

### Expressions

An expression is a combination of number, variables, operators, and/or other Python elements that the language interprets and acts upon. Expressions act as a set of **instructions** to be followed, with the goal of generating specific outcomes.

You can start by thinking of code cells as really smart calculators that computes these expressions. For instance, code cells can evaluate simple arithmetic:

In [ ]:
#Run me!
#This is an expression
10 + 10

In [ ]:
#Run me too!
#This is another expression
(10 + 10) / 5

### Variables!

But the point of coding is that you can save these outputs and to be used later without computing it again. So, we set **variables** to these values! Just like in your standard algebra class, you can set the letter `x` to be 10. You can set letter `y` to be 5. You can add variables `x` and `y` to get 15.

In [ ]:
#this won't output anything: you're just telling the cell to set x to 10
x = 10

In [ ]:
y = 5

In [ ]:
#This will output the answer to the addition: you're asking it to compute the number
x + y

You can then **redefine** variables you'ved used before to hold new values. If you run the following cell, `x` and `y` will now hold different values:

In [ ]:
#You can put all of the different expressions above into one code cell.
#When you run this code cell, everything will be evaluated in order, from top to bottom.
x = 3
y = 8
x+y

In algebra class, you were limited to using the letters of the alphabet as variable names. Here, you can use any combination of words **as long as there are no spaces in the names:**

In [ ]:
test = 4
test

In [ ]:
another_test = 234
another_test

Variables are set a value. This means everything to the right side of the equals sign is **first evaluated** and **then saved** as the variable:

In [ ]:
#Notice y is still the same value as before
# test + y is evaluated to 12
# 12 is set to the varible answer_to_above

answer_to_above = test+y
answer_to_above

**You Try:** What should be the answer to "2 times `test` plus `answer_to_above`"? 

*Hint:* the astrisk symbol \* is used for the multiplication sign

In [ ]:
#Calculate your answer in this code block

Does your answer make sense?

### Variables vs. Strings
We have to be careful when working with words in a code cell. Words carry different meanings and uses when they are **in quotes** and **not in quotes**.

When words are in quotes, they often signify some sort of **identification**. In this lab (and future notebooks), you'll use identification to specify **column names of tables**. In quotes, words have meaning: Python understands these as the name of something. If a table has a column named "Gender", we can ask the notebook to find the column named "Gender" and the data contained in this column. Thefore, these quotations are **values**, just like numbers. In Python, this value type is called a **string**.

In [ ]:
#I output a number
123

In [ ]:
#I output a string
"Woohoo"

What if we try to a word in a code cell **without** putting it in quotes?

In [ ]:
#This will Error!
Woohoo

It throws out an error! Why? Because code cells think in terms of math, and any word **not** in quotes is considered to be a **variable** that stores information or means something. In this notebook, we haven't told it what `Woohoo` means -- it's just an empty variable holding no information, so it complains and says "I don't know what `Woohoo` is supposed to be." It's like taking an algebra exam and telling your teacher: "The answer is `x`". Your teacher would write back, "...and what, exactly, is `x`?" That's essentially what the notebook is saying.

### Understanding Errors
Python is a language, and like natural human languages, it has rules.  It differs from natural language in two important ways:
1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running Python code is not smart enough to do that.

Whenever you write code, you'll make mistakes.  When you run a code cell that has errors, Python will sometimes produce error messages to tell you what you did wrong.

Errors are okay; even experienced programmers make many errors.  When you make an error, you just have to find the source of the problem, fix it, and move on.

We have made an error in the next cell.  Run it and see what happens.

In [ ]:
"This line is missing something

Fix the error below:

In [ ]:
#Your Answer Here

# Tables!


Now run this cell to import some tools we'll use today. Don't worry about anything printing out -- simply run the cell.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from datascience import *
%matplotlib inline 
plt.style.use("fivethirtyeight")

### Importing

In data analytics, there is almost always a file holding your data that already exists. There are thousands of databases online that contain information on topics from all domains. In general, to import data from a file, we write:

```python
Table.read_table("file_name")
```

Most often, these file names end in `.csv` to show the data format. `.csv` format is popular for spreadsheets and can be imported/exported from programs such as Microsoft Excel, OpenOffice Calc, or Google spreadsheets. 
 
An example is shown below using [U.S. Census data](http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv).

In [ ]:
Table.read_table("./data/ces_data.csv")

That's a lot of information. As you can see from the labels on top, this table shows location, environmental and health factors, as well as population and demographic information.

## Using Tables

We can make criteria to cut down tables. Accessing only the rows, columns, or values specfic to our purpose makes information easier understood. Analysis and conclusions can be made when data is more digestible. 

We need to access the census table above and name it for further use. We assign the table to a **variable** we call `census_data` so that we can reference it later!

In [ ]:
census_data = Table.read_table("./data/ces_data.csv")
census_data

This notebook can calculate how large this table is with two functions: num_rows and num_columns. The general form for these functions are table.num_rows and table.num_columns. 

Let's use these on the table above.

In [ ]:
census_data.num_rows

In [ ]:
census_data.num_columns

That's a 8035 x 65 table! We can first start to cut down this table using only some columns. Let's only include biological sex, age and the estimated base for 2010 census data. 

There are two methods to make a table with select columns included. We could either use the 'select' function or the 'drop' function. 

- `select` can create a new table with only the columns indicated in the parameters 
- `drop` can create a new table with columns NOT indicated in the parameters


Here's an example of two codes that result in smaller tables: (keep in mind that we assign each new table to a new variable, to make organization easier).

In [ ]:
select_census_data = census_data.select("Asthma", "African American (%)", "Total Population", "Unemployment", "Poverty", "Hispanic (%)", "White (%)")
select_census_data

In [ ]:
drop_census_data = census_data.drop("CENSUS2010POP","POPESTIMATE2010","POPESTIMATE2011","POPESTIMATE2012","POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2015", "Census Tract", "CES 3.0 Score", "CES 3.0 Percentile", "CES 3.0 Percentile Range" "Total Population", "California County", "73.6", "7.6", "65.3", "4.2", "24.6", "0.5", "3.5", "1.8", "ZIP", "Nearby City (to help approximate location only)", "Longitude", "Latitude", "CES 3.0 Percentile", "CES 3.0 Percentile Range", "SB 535 Disadvantaged Community", "Ozone", "Ozone Pctl", "PM2.5", "PM2.5 Pctl", "Diesel PM", "Diesel PM Pctl", "Drinking Water", "Drinking Water Pctl", "Pesticides", "Pesticides Pctl", "Tox. Release", "Tox. Release Pctl", "Traffic", "Traffic Pctl", "Cleanup Sites", "Cleanup Sites Pctl", "Groundwater Threats", "Groundwater Threats Pctl", "Haz. Waste", "Haz. Waste Pctl", "Imp. Water Bodies", "Imp. Water Bodies Pctl", "Solid Waste", "Solid Waste Pctl", "Pollution Burden", "Pollution Burden Score", "Pollution Burden Pctl", "Asthma", "Asthma Pctl", "Low Birth Weight", "Low Birth Weight Pctl", "Cardiovascular Disease", "Cardiovascular Disease Pctl", "Education", "Education Pctl", "Linguistic Isolation", "Linguistic Isolation Pctl", "Poverty", "Poverty Pctl", "Unemployment", "Unemployment Pctl", "Housing Burden", "Housing Burden Pctl", "Pop. Char.", "Pop. Char. Score", "Pop. Char. Pctl")
drop_census_data.show(5)

As you can see underneath the table, there are still 8025 rows omitted! Our next step is to only include the data with larger populations (larger than 4000).

To do this, we need to use a new function `where`. The general form of this function is:

```python
table_name.where(column_name, predicate)
```

To cut our table down to only include `sex=0`, we may use the predicate `are.equal_to()`. Note that we are assigning the new table to a new variable. We are referencing the table stored in an older variable (`select_census_data`), and modifying it. That modification is what is stored in the new variable.

In [ ]:
new_census_data = select_census_data.where("Total Population", are.above(4000))
new_census_data

There are still 4833 rows omitted! Let's take every 10th entry to cut this table down a little more. 

To do this we need to use the `take` function. The `take` function creates a new table with rows from the original table whose indices(row number) are given. In Python, indices start at 0! 

Here's taking every 10th entry. Inside of the take parentheses is a Python list of numbers from 0 to 90, increasing by 10s. This indicates exactly which rows we want to keep (every 10th row).

In [ ]:
census_10_year = new_census_data.take([0,10,20,30,40,50,60,70,80,90,100])
census_10_year

In [ ]:
final_census_table = census_10_year
final_census_table

---

### Tables Essentials!

For your reference, here's a table of useful `Table` functions:

|Name|Example|Purpose|
|-|-|-|
|`Table`|`Table()`|Create an empty table, usually to extend with data|
|`Table.read_table`|`Table.read_table("my_data.csv")`|Create a table from a data file|
|`with_columns`|`tbl = Table().with_columns("N", np.arange(5), "2*N", np.arange(0, 10, 2))`|Create a copy of a table with more columns|
|`column`|`tbl.column("N")`|Create an array containing the elements of a column|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|
|`join`|`tbl1.join("shared_column_name", tbl2)`|Join together two tables with a common column name
|`are.equal_to()`|`tbl.where("SEX", are.equal_to(0))`|find values equal to that indicated|
|`are.not_equal_to()`|`tbl.where("SEX", are.not_equal_to(0))` | find values not including the one indicated|
|`are.above()`| `tbl.where("AGE", are.above(30))` | find values greater to that indicated|
|`are.below()`| `tbl.where("AGE", are.below(40))` | find values less than that indicated |
|`are.between()`| `tbl.where("SEX", are.between(18, 60))` | find values between the two indicated |

---

## Visualizations 

Now that we have a manageable table we can start making visualizations! Due to the numerical nature of the census table above, let's first try a scatter plot. 

To create a scatter plot, we need to use the `scatter()` function. The general form is:

```python
table.scatter("column for x axis", "column for y axis")
```

An example is shown below:

In [ ]:
final_census_table.scatter("Asthma", "Unemployment")

With this data, we can also make a line plot. To do this, we need to use the `plot()` function. This works a lot like `scatter()` where the general form is:

```python
table.plot("x column", "y column")
```

In [ ]:
final_census_table.plot("Poverty", "Asthma")

Now try plotting a graph in the next cell using any of the two columns from the table below! You can play around with different columns and either the scatter( ) or plot( ) function.

In [ ]:
# run this cell
final_census_table

In [ ]:
# Put your code here!
your_plot = ...
your_plot

Though a bar may be better. Bar graphs follow the same formula as scatter plots and line graphs above, with the general form:

```python
table.bar("x axis", "y axis")
```

In [ ]:
final_census_table.bar("Asthma", "African American (%)")

You can also use the functino `barh()` instead of `bar()` in order to flip the bar graph horizontally. Sometimes, this makes for a cleaner visualization.

In [ ]:
census_data.hist("Asthma")

---

## SUMMARY 

### You've learned a lot in this module! Let's look back on the key parts. 

- To import data from a .csv/.txt file, we write `Table.read_table("file_name")`.

- To create our own table, we write `Table( ).with_columns("Column Name", array_name, . . .)` . 

- To count number of rows, we use `table_name.num_rows`.

- To count number of columns, we use `table_name.num_columns`.

- To create a new table with only the columns indicated in the parameters, we use `table_name.select("COLUMN NAME", ...)`. 

- To create a new table without the columns indicated in the parameters, we use `table_name.drop("COLUMN NAME", ...)`. 

- To create a table with only certain values, we can use `table_name.where(column_name, predicate)`.

- To create a new table with indicated rows from the original table, we use `table_name.take([index 1, index 2, . . . ])`. Remember in Python indices start at 0!

- To create a scatter plot, we use `table.scatter(column for x axis, column for y axis)`.

- To create a line plot, we use `table.plot(x column, y column)`.

- To make a bar graphs, we can use either `table.bar(x column, y column)` or `table.barh(x column, y column)`. 

- To make a histogram, we use `table.hist(x axis, bins(optional), unit(optional))`. 

- To merge tables, we use either `append` or `append_column`.

- To merge two tables with a common column name we use the `join` method.

---

With just some simple code, we were able to do an incredible amount of data analysis! Play around with the examples until you feel comfortable with the content of this notebook. We will be using notebooks to analyze your own data sets in the future! Please ask if you have questions!



## Peer Consulting Office Hours
If you had trouble with any content in this notebook, Data Peer Consultants are here to help! You can check for availability of Peer Consultants in the **first floor of Moffitt library** with this detailed [Office Hours schedule](https://data.berkeley.edu/education/peer-consulting). 


**Congratulations!** You have completed your first lab and introduction to Jupyter Notebook! In the next lecture and lab, we will use these new skills to explore statistical concepts like correlation and prediction. Stay tuned!

---

**Bibliography**

Content adapted from Psych167AC module: https://github.com/ds-modules/PSYCH-167AC/blob/master/01-Intro-to-Importing-Data-Tables-Graphs.ipynb

*Notebook Developed by: Alleanna Clark*